# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Databases
database/finance.db

# Frontend Node modules & build output
frontend/node_modules/
frontend/dist/

# Environments
.env
.venv
env/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db
